/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
#j_content_wrapper input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
#j_content_wrapper address,#j_content_wrapper caption,#j_content_wrapper cite,#j_content_wrapper code,#j_content_wrapper dfn,#j_content_wrapper th,#j_content_wrapper var {
	font-style:normal;
	font-weight:normal;
}
#j_content_wrapper ol,#j_content_wrapper ul {
	list-style:none;
}
#j_content_wrapper caption,#j_content_wrapper th {
	text-align:left;
}
#j_content_wrapper h1,#j_content_wrapper h2,#j_content_wrapper h3,#j_content_wrapper h4,#j_content_wrapper h5,#j_content_wrapper h6 {
	font-size:100%;
	font-weight:normal;
}
#j_content_wrapper q:before,#j_content_wrapper q:after {
	content:'';
}
#j_content_wrapper abbr,#j_content_wrapper acronym { border:0;
}